//Memoryboard

//purple - https://coolors.co/d73aa1-dc28a0-b71c84-921067-83095a-74014c
$purple-1: #d73aa1;
$pruple-2: #dc28a0;
$pruple-3: #b71c84;
$pruple-4: #921067;
$pruple-5: #83095a;
$pruple-6: #74014c;

$gray-1: #232323;
$gray-2: #2d2d2d;
$gray-3: #373737;
$gray-4: #414141;
$gray-5: #4b4b4b;
$light-gray-1: #555555;
$light-gray-2: #646464;
$light-gray-3: #737373;
$light-gray-4: #828282;
$light-gray-5: #919191;
//https://coolors.co/232323-2d2d2d-373737-414141-4b4b4b-555555-646464-737373-828282-919191

$gray-1-fade-900: rgba(35, 35, 35, 0.9);
$gray-1-fade-800: rgba(35, 35, 35, 0.8);
$gray-1-fade-700: rgba(35, 35, 35, 0.7);
$gray-1-fade-600: rgba(35, 35, 35, 0.6);
$gray-1-fade-500: rgba(35, 35, 35, 0.5);
$gray-1-fade-400: rgba(35, 35, 35, 0.4);
$gray-1-fade-300: rgba(35, 35, 35, 0.3);
$gray-1-fade-200: rgba(35, 35, 35, 0.2);
$gray-1-fade-100: rgba(35, 35, 35, 0.1);

$gray-2-fade-900: rgba(45, 45, 45, 0.9);
$gray-2-fade-800: rgba(45, 45, 45, 0.8);
$gray-2-fade-700: rgba(45, 45, 45, 0.7);
$gray-2-fade-600: rgba(45, 45, 45, 0.6);
$gray-2-fade-500: rgba(45, 45, 45, 0.5);
$gray-2-fade-400: rgba(45, 45, 45, 0.4);
$gray-2-fade-300: rgba(45, 45, 45, 0.3);
$gray-2-fade-200: rgba(45, 45, 45, 0.2);
$gray-2-fade-100: rgba(45, 45, 45, 0.1);

$white: #ffffff;
