@use '../../styles/config/' as *;

.container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    rgb(25, 5, 55),
    rgb(94, 7, 75),
    rgb(160, 23, 75),
    #d24739,
    #eb8312
  );
  overflow: hidden;
}

.undercontainer {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.center.side {
  flex: 1;
  margin: 1rem;
}

.center.middle {
  width: auto;
  flex: 1.5 1.5 auto;
  margin: 0 2.5rem 2.5rem 2.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.box {
  font-weight: $fw-bold;
  background: linear-gradient(127deg, $gray-1, $gray-2);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.underbox {
  padding: 0 1rem;
  margin: 0.5 1.5rem;
}

.top {
  height: fit-content;
  margin: 1.5rem;
  display: flex;
  color: $white;
  justify-content: center;
  align-items: center;
}

.left.head {
  text-align: left;
  flex: 1;
}
.middle.head {
  text-align: center;
  font-size: $fs-5;
  flex: 1;
}
.right.head {
  text-align: right;
  flex: 1;
}

.bottom {
  color: $white;
  bottom: 0;
  height: fit-content;
  //position: absolute;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;
  padding: 0 1rem;
  letter-spacing: 0.05rem;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
}

.stats {
  color: rgb(218, 214, 214);
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  margin-right: 1.5rem;
  padding: 0.25rem 1.5rem;
  width: max-content;
  background: rgba(0, 0, 0, 0.4);
  font-weight: $fw-bold;
  letter-spacing: 0.3rem;
}

.stats:nth-child(1) {
  margin-left: 1rem;
}
.stats-container {
  display: flex;
  //justify-content: space-around;
  float: left;
  margin: 1rem;
  height: fit-content;
}
.copyright {
  display: flex;
  flex-direction: column;
}
.copyright-text {
  font-weight: $fw-regular;
  font-size: 0.9rem;
}
