@use '../../styles/config/' as *;

.wrapper {
  display: grid;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem;
  grid-auto-flow: column dense;
  //width: 100%;
  //height: 100%;
}
