@use '../../styles/config/' as *;

.square {
  position: relative;
  width: 100%;
  padding: 1%;
  background-color: transparent;
}

.square::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.card,
.card:active {
  margin: 0.25rem;
  position: absolute;
  font-weight: $fw-bold;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.35);
  align-items: center;
  justify-content: center;
  transition: background ease-in-out 0.3s;
  transition: box-shadow ease-in-out 0.3s;
  transition: background-color ease-in 0.35s;
  cursor: pointer;
}

.card:hover,
.card:focus {
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.55);
}

.top-left {
  border-radius: 20px 0 0 0;
}

.top-right {
  border-radius: 0 20px 0 0;
}

.bottom-left {
  border-radius: 0 0 0 20px;
}

.bottom-right {
  border-radius: 0 0 20px 0;
}
